html {
  background: url(./images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: whitesmoke;
  text-align: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
  justify-content: center;
}

.cardImage {

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  /*margin: 2rem; 
  padding: 1rem;*/
  border-radius: 1rem;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  /* text-align: center; */
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.navbar-item {
  height: 80px;
  font-size: 25px;
  margin-right: 45px;
  color: black;
  font-family: 'Work Sans', sans-serif;

}

.navbar-item img {
  transform: scale(1.5);
}

* {
  box-sizing: unset;
}

.navbar-brand{
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

img {
  -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-top: 1rem;
}

.logo {
  -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-left: 40px;
}

.control {
  justify-content: center;
  -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.show {
  display: block;
}



.field.has-addons .control:first-child:not(:only-child) .button, .field.has-addons .control:first-child:not(:only-child) .input, .field.has-addons .control:first-child:not(:only-child) .select select {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-top: 10px;
}

  .field.is-grouped.is-grouped-centered {
    justify-content: center;
    margin-top: 10px;
}

.card {
  display: column;
  width: 30rem;
  grid-template-rows: max-content 300px 1fr;
}