html {
  background: url(./images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: whitesmoke;
  text-align: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.card {
  display: grid;
  width: 18rem;
  grid-template-rows: max-content 200px 1fr;
}

.textBeachName {
  font-size: 1rem;

}